ensure_folder 0700 "${HOME}/.ssh"
ensure_folder 0750 "${HOME}/etc"
ensure_folder 0750 "${HOME}/bin"
ensure_folder 0755 "${HOME}/go"
ensure_folder 0750 "${HOME}/tmp"
ensure_folder 0750 "${HOME}/.config"
ensure_folder 0750 "${HOME}/.local"
