function install_or_link () {
	local src="${env_source}/config.d/my.${1}"
	local dst="${HOME}/${2}"
	local dstdir="$(dirname "${dst}")"
	if [ ! -e "${src}" ]; then die "Cannot find ${1} to install."; fi
	if [ ! -d "${dstdir}" ]; then
		mkdir -m 0750 -p "${dstdir}" || die "Cannot create ${dstdir} for ${src}"
	fi
	if [ ! -e "${dst}" -o -L "${dst}" ]; then
		debug "Symlinking ${src} -> ${dst}"
		[ -L "${dst}" ] && rm -f "${dst}"
		ln -s "${src}" "${dst}" || die "Cannot create symlink $src -> $dst."
	elif [ -f "${dst}" ]; then
		debug "Copying ${src} -> ${dst}"
		cp "${src}" "${dst}" || die "Cannot copy $src -> $dst."
	fi
}

install_or_link vimrc .vimrc
install_or_link flake8 .config/flake8
